<h1>Listado de <strong>Heroes</strong></h1>
<mat-divider></mat-divider>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">

    <div fxFlex="30" fxFlex.lg="15" fxFlex.sm="40" *ngFor="let heroe of heroes">
        <mat-card>
            <mat-card-title>
                {{ heroe.superhero }}
            </mat-card-title>
            <mat-card-subtitle>
                {{heroe.alter_ego}}
            </mat-card-subtitle>
            <img mat-card-image src="../../../../assets/heroes/{{ heroe.id }}.jpg">
            <mat-card-content>
                <h3>{{ heroe.publisher }}</h3>
                <p>
                    <strong> Primera vez: </strong> {{heroe.first_appearance}}
                    <br>
                    <strong> Personajes: </strong> {{ heroe.characters}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">leer mas</button>
                <button mat-raised-button color="secundary">editar</button>
            </mat-card-actions>
        </mat-card>
    </div>


</div>