<mat-card>
    <mat-card-title>
        {{ heroe.superhero }}
    </mat-card-title>
    <mat-card-subtitle>
        {{heroe.alter_ego}}
    </mat-card-subtitle>
    <img mat-card-image [src]="heroe | imagen">
    <mat-card-content>
        <h3>{{ heroe.publisher }}</h3>
        <p>
            <strong> Primera vez: </strong> {{heroe.first_appearance}}
            <br>
            <strong> Personajes: </strong> {{ heroe.characters}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="['/heroes', heroe.id]">leer mas</button>
        <button mat-raised-button color="secundary" [routerLink]="['/heroes/editar', heroe.id]">editar</button>
    </mat-card-actions>
</mat-card>