<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">

        <mat-toolbar>
            <span>Menú</span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu_book</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list></mat-nav-list>

    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu_book</mat-icon>
        </button>
    </mat-toolbar>

</mat-sidenav-container>