<mat-grid-list cols="1" *ngIf="!heroe else divHeroe">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #divHeroe>

    <div    fxLayout="row" 
            fxLayout.xs="column"
            fxLayoutGap="30px">

            <div fxFlex="50">
                <h1> {{heroe.superhero}} - <small> {{heroe.alter_ego}} </small> </h1>
                <mat-divider></mat-divider>
                <br>
                <img [src]="heroe | imagen">
            </div>

            <div fxFlex="50">
                <h1> {{heroe.publisher}} </h1>
                <mat-divider></mat-divider>
                <mat-list>
                    <mat-list-item> <pre> Alter Ego  </pre> -- -{{ heroe.alter_ego }} </mat-list-item>
                    <mat-list-item> <pre> Personajes </pre> -- {{ heroe.characters }} </mat-list-item>
                    <mat-list-item> <pre> Primera aparición </pre> -- {{ heroe.first_appearance }} </mat-list-item>
                    <mat-list-item> <pre> Identificador </pre> -- {{ heroe.id }} </mat-list-item>
                    <mat-list-item> <pre> Publicador </pre> -- {{ heroe.publisher }} </mat-list-item>
                    <mat-list-item> <pre> Nombre de Superheroe </pre> -- {{ heroe.superhero }} </mat-list-item>
                </mat-list>
                <br>
                <button mat-button color="primary" routerLink="../"> Regresar </button>

            </div>


    </div>


</ng-template>